@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

.material-symbols-outlined {
  font-variation-settings:
    'FILL' 0,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48;
}

body {
  font-family: 'Roboto Mono', Arial, Helvetica, sans-serif;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

main {
  height: 90vh;
}

header {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
}

.logo {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  text-align: center;
  background-color: blueviolet;
  padding: 5px;
  border: 1px solid;
}

nav {
  display: flex;
  gap: 3rem;
}

footer {
  text-align: center;
}
